.App {
  text-align: center;
  background-color: #FEFAE0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-custom {
  text-align: left;
  margin-top: 50px;
  margin-left: 50px;
}

.footer{
  background-color: #283618;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.footer a {
  margin: 0 10px;
}


.Header-text {
  font-weight: bold;
  font-size: 30px;
}

.ToolList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 20px; /* Espacio entre las herramientas */
}

.ToolList-item {
  border: 1px solid black;
  padding: 10px;
  box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño */
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
