.ToolList-item img {
    width: 100%; /* La imagen ocupará todo el ancho disponible */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    max-width: 200px; /* Ajusta este valor según tus necesidades */
    max-height: 150px; /* Ajusta este valor según tus necesidades */
    object-fit: cover; /* La imagen se ajustará dentro del contenedor manteniendo las proporciones */
  }
  
  .ToolList-item {
    text-align: center; /* Centra el contenido dentro del contenedor */
    margin-bottom: 20px; /* Agrega un espacio entre los elementos */
  }
  