.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tool-image {
    flex: 1;
  }
  
  .tool-details {
    flex: 2;
    margin-left: 20px;
  }
  
  /* Agrega estilos adicionales según sea necesario */