.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool-image {
  margin-right: 50px; /* Espacio entre la imagen y los detalles de la herramienta */

}


.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.tool-details {
  /* Estilos para los detalles de la herramienta */

}

.tool-info {
  /* Estilos para la información de la herramienta */
}

.tool-description {
  /* Estilos para la descripción de la herramienta */
}

.ratings {
  /* Estilos para las calificaciones de la herramienta */
}

.location {
  /* Estilos para las ubicaciones disponibles de la herramienta */
}
