.container {
    display: flex;
  
    justify-content: center;
  }
  
  .tool-image {
    margin-right: 1px; /* Espacio entre la imagen y los detalles de la herramienta */
    justify-content: center;
  }
  
  .tool-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .tool-description{
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    box-sizing: border-box; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.913);
    border-radius:15px ;
  }
  
  .fotoVista{
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    box-sizing: border-box; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.913);
  }
  
  .btn{
  font-weight: 900;
  font-size: 31px;
  color:#606C38;
  background: linear-gradient(90deg,#606C38 0%, #606C38 100%);
  padding: 10px 30px;
  border: solid #606C38 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 15px;
  transition : 1284ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  }
  
  .btn:hover{
  
  transition : 1284ms;
  padding: 10px 50px;
  transform : translateY(-0px);
  background: linear-gradient(90deg, #0096c7 0%, #0096c7 100%);
  color: rgb(255, 255, 255);
  border: solid 2px #0066cc;
  }
  
  .card {   width: 100%; } .card-body {   background-color:#BC6C25;   margin: 10px;   padding: 10px;   border-radius: 5px;   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);   transition: 0.3s; } .card-body:hover {   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); } .card-title {   color: white;   font-weight: bold;   margin-bottom: 5px; } .card-text {   color: white; }
  
  .google-map {
    padding-bottom: 50%;
    position: relative;
  
  }
  
  .google-map iframe {
    height: 110%;
    width: 70%;
    left: 0;
    top: 0;
    justify-content: center;
    position: relative;
  }
  
  
  
  
  .tool-details {
    /* Estilos para los detalles de la herramienta */
  
  }
  
  .tool-info {
    /* Estilos para la información de la herramienta */
  }
  
  .tool-description {
    /* Estilos para la descripción de la herramienta */
  }
  
  .ratings {
    /* Estilos para las calificaciones de la herramienta */
  }
  
  .location {
    /* Estilos para las ubicaciones disponibles de la herramienta */
  }
  
  
  .highlight {
    color:red;
  }
  
  .react-calendar {
    width: 350px;
    max-width: 100%;
    background:#606C38;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.913);
    border-radius:15px ;
  
  }
  
  .react-calendar--doubleView {
    width: 700px;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar__month-view__days__day--weekend {
    
  }
  
  .react-calendar__month-view__days__day--neighboringMonth,
  .react-calendar__decade-view__years__year--neighboringDecade,
  .react-calendar__century-view__decades__decade--neighboringCentury {
    color: #757575;
  }
  
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
  }
  
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
    color: #ababab;
  }
  
  .react-calendar__month-view__days__day--neighboringMonth:disabled,
  .react-calendar__decade-view__years__year--neighboringDecade:disabled,
  .react-calendar__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__tile--now {
    background: #ffff76;
  }
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  